# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/Full Download Manager.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
icons/
index.py
main.ui
photo.qrc
photo_rc.py
